$containerMaxwidth: 1352px;
$containerMaxwidth-992: 1046px;
$containerMaxwidth-576: 618;
$colorWhite: #fff;
$colorGrey: #202020;
$colorGreyD: #4A4A4A;
$colorDate: #999999;
$colorGreyL: #333;
$colorGreyLight: #CACACA;
$colorDefault: #FF6E30;
$colorFocus: #BC572B;
$colorFocuslight: #FFD4C1;
$colorActive: #CE4307;
$fontA: 'Roboto';
$fontB: 'TT Firs Neue';
