@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local("TT Firs Neue Bold"), local("TTFirsNeue-Bold"), url("../font/TTFirsNeue-Bold.woff2") format("woff2"), url("../font/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"), url("../font/TTFirsNeue-Medium.woff2") format("woff2"), url("../font/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"), url("../font/TTFirsNeue-Regular.woff2") format("woff2"), url("../font/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

path {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  margin-bottom: 68px;
}

iframe {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "TT Firs Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 31px;
}

.header {
  width: 100%;
  background-color: #202020;
}

.header .header__burger {
  display: none;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  grid-column-gap: 30px;
  grid-auto-rows: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .nav {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
}

.header__container .nav .nav__burger-open {
  display: none;
}

.header__container .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .nav__list .nav__link {
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__container .nav__list .nav__link:focus-visible {
  background-color: #BC572B;
  outline: 4px solid #BC572B;
  outline-offset: -1px;
}

.header__container .nav__list .nav__link:hover {
  color: #FF6E30;
}

.header__container .nav__list .nav__link:active {
  color: #CE4307;
}

.header__container .header__search-container {
  display: none;
}

.header__container .header__icon {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
}

.header__container .header__list {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__container .header__list .header__item:not(:last-child) {
  margin-right: 20px;
}

.header__container .header__list .header__item .header__item-icon:focus-visible {
  outline: none;
}

.header__container .header__list .header__item .header__item-icon:focus-visible path {
  fill: #BC572B;
}

.header__container .header__list .header__item .header__item-icon:hover path {
  fill: #FF6E30;
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.header__container .header__list .header__item .header__item-icon:active path {
  fill: #CE4307;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 350px 257px;
      grid-template-rows: 350px 257px;
  grid-auto-rows: 257px;
  gap: 30px;
  padding-top: 34px;
}

.hero__container .hero__item1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding: 0 60px 60px 60px;
  background-image: url("../images/hero-background-1920.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero__container .hero__item1::before {
  content: "#мастеркласс";
  position: absolute;
  top: 22px;
  right: 15px;
  padding: 7px 15px 7px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.hero__container .hero__item1 .hero__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__container .hero__item1 .hero__descr .descr-hero__text {
  margin: 0;
  margin-bottom: 3px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.hero__container .hero__item1 .hero__descr .descr-hero__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: "TT Firs Neue";
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: #fff;
}

.hero__container .hero__item1 .hero__descr .descr-hero__btn {
  max-width: 159px;
  height: 50px;
  background-color: #FF6E30;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.hero__container .hero__item1 .hero__descr .descr-hero__btn:focus-visible {
  outline: 3px solid #CE4307;
}

.hero__container .hero__item1 .hero__descr .descr-hero__btn:hover {
  background-color: #BC572B;
}

.hero__container .hero__item1 .hero__descr .descr-hero__btn:active {
  background-color: #CE4307;
}

.hero__container .hero__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  overflow: hidden;
}

.hero__container .hero__item2 .hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "TT Firs Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: #202020;
}

.hero__container .hero__item2 .hero__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.hero__container .hero__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about {
  min-height: 500px;
  background-color: #202020;
  padding: 30px 0 69px;
}

.about__title {
  margin: 0;
  margin-bottom: 2px;
  font-family: "TT Firs Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
}

.about__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.about__text {
  margin: 0;
  padding-top: 3px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.about__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__item2 .about__picture {
  margin-bottom: 21px;
  height: 100%;
  font-size: 0;
}

.about__item2 .about__picture .about__img2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__item2 .about__form-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #fff;
}

.about__item2 .about__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item2 .about__form .about__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.about__item2 .about__form .about__input .just-validate-error-label {
  position: absolute;
  top: 3px;
  left: 23px;
}

.about__item2 .about__form .about__input .about__email {
  width: 100%;
  height: 50px;
  margin-right: 30px;
  padding: 0 23px;
  border: none;
  background-color: #4A4A4A;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.about__item2 .about__form .about__input .about__email::-webkit-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.about__item2 .about__form .about__input .about__email:-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.about__item2 .about__form .about__input .about__email::-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.about__item2 .about__form .about__input .about__email::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.about__item2 .about__form .about__input .about__email:focus-visible {
  outline: 1px solid #FF6E30;
}

.about__item2 .about__form .about__input .about__email:hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input .about__email:hover:-ms-input-placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input .about__email:hover::-ms-input-placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input .about__email:hover::placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input :hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input :hover:-ms-input-placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input :hover::-ms-input-placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__input :hover::placeholder {
  color: #FF6E30;
}

.about__item2 .about__form .about__btn {
  width: 126px;
  height: 50px;
  background-color: #FF6E30;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.about__item2 .about__form .about__btn:focus-visible {
  outline: 3px solid #CE4307;
}

.about__item2 .about__form .about__btn:hover {
  background-color: #BC572B;
}

.about__item2 .about__form .about__btn:active {
  background-color: #CE4307;
}

.projects__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: "TT Firs Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #202020;
}

.projects__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 300px;
  gap: 30px;
}

.projects__grid .projects__item1 {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.projects__grid .projects__item1::before {
  content: "#пейзаж";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .projects__item2 {
  position: relative;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.projects__grid .projects__item2::before {
  content: "#портрет";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .projects__item3 {
  position: relative;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

.projects__grid .projects__item3::before {
  content: "#предмет";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .projects__item3 .block__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects__grid .projects__item4 {
  position: relative;
  display: block;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  background-image: url("../images/projects-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.projects__grid .projects__item4::before {
  content: "#fuji";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .projects__item5 {
  position: relative;
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 2;
  grid-row: 2;
  background-image: url("../images/projects-background-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.projects__grid .projects__item5::before {
  content: "#проектзабвение";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .projects__item6 {
  position: relative;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 2;
  grid-row: 2;
}

.projects__grid .projects__item6::before {
  content: "#ретушь";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .projects__item7 {
  position: relative;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 2;
  grid-row: 2;
}

.projects__grid .projects__item7::before {
  content: "#портрет";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}

.projects__grid .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__grid .block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.projects__grid .block__box .block__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__grid .block__img {
  margin-bottom: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 184px;
}

.projects__grid .block__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
}

.projects__grid .block__date {
  display: inline-block;
  margin-top: auto;
  background-image: url("../images/svg/mdi_calendar_today.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 17px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #999999;
}

.projects__grid .back {
  padding: 22px 0 30px 30px;
}

.projects__grid .back__box {
  max-width: 292px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__grid .back__date {
  display: block;
  background-image: url("../images/svg/mdi_calendar_today_white.svg");
  background-repeat: no-repeat;
  background-position: center left;
  margin-bottom: 2px;
  padding-left: 17px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

.projects__grid .back__title {
  margin: 0;
  margin-bottom: 6px;
  font-family: "TT Firs Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.projects__grid .back__text {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.projects__grid .back__btn {
  margin-top: auto;
  width: 121px;
  height: 50px;
  border: 3px solid #FF6E30;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  -webkit-transition: background 0.2s linear, border 0.2s linear;
  transition: background 0.2s linear, border 0.2s linear;
}

.projects__grid .back__btn:focus-visible {
  outline: none;
  background: #BC572B;
  border: 3px solid #FF6E30;
}

.projects__grid .back__btn:hover {
  background-color: #FF6E30;
}

.projects__grid .back__btn:active {
  background-color: #CE4307;
  border: 3px solid #CE4307;
}

.contacts__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "TT Firs Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #202020;
}

.contacts__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65.89% 1fr;
      grid-template-columns: 65.89% 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.contacts__grid .contacts__item1 {
  padding-top: 6px;
}

.contacts__grid .contacts__map {
  position: relative;
  height: 100%;
  width: 100%;
}

.contacts__grid .contacts__map [class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.contacts__grid .contacts__map [class*="copyrights-pane"] {
  display: none !important;
}

.contacts__grid .contacts__map .map__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  width: 410px;
  height: 100%;
  padding: 175px 50px 50px 60px;
  z-index: 2;
  background-color: rgba(32, 32, 32, 0.85);
}

.contacts__grid .contacts__map .map__info .map__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #fff;
}

.contacts__grid .contacts__map .map__info .map__descr {
  margin: 0;
  margin-bottom: 3px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.contacts__grid .contacts__map .map__info .map__tel {
  margin: 0;
  padding-left: 22px;
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background-image: url("../images/svg/mdi_call.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.contacts__grid .contacts__map .map__info .map__exit {
  position: absolute;
  top: 20px;
  right: 20px;
}

.application__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #202020;
}

.application__descr {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

.application__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.application__form .input__name {
  position: relative;
}

.application__form .input__name .just-validate-error-label {
  position: absolute;
  top: 3px;
  left: 23px;
}

.application__form .input__email {
  position: relative;
}

.application__form .input__email .just-validate-error-label {
  position: absolute;
  top: 3px;
  left: 23px;
}

.application__form .input__message {
  position: relative;
  font-size: 0;
}

.application__form .input__message .just-validate-error-label {
  position: absolute;
  top: 3px;
  left: 23px;
}

.application__form .input__contacts {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 23px;
  border: none;
  background-color: #E9E9E9;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #202020;
}

.application__form .input__contacts::-webkit-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.application__form .input__contacts:-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.application__form .input__contacts::-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.application__form .input__contacts::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.application__form .input__contacts:focus-visible {
  outline: 1px solid #FF6E30;
}

.application__form .input__contacts:hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.application__form .input__contacts:hover:-ms-input-placeholder {
  color: #FF6E30;
}

.application__form .input__contacts:hover::-ms-input-placeholder {
  color: #FF6E30;
}

.application__form .input__contacts:hover::placeholder {
  color: #FF6E30;
}

.application__form .textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 150px;
  width: 100%;
  resize: none;
}

.application__form .application__btn {
  width: 126px;
  height: 50px;
  background-color: #FF6E30;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.application__form .application__btn:focus-visible {
  outline: 3px solid #CE4307;
}

.application__form .application__btn:hover {
  background-color: #BC572B;
}

.application__form .application__btn:active {
  background-color: #CE4307;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 16px;
  background-color: #202020;
}

.footer .footer__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__container .footer-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: 263px;
}

.footer .footer__container .footer-logo__text {
  display: inline-block;
  width: 263px;
  margin: 0;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
}

.footer .footer__container .footer__right {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__container .footer-descr {
  width: 361px;
}

.footer .footer__container .footer-descr__text {
  width: 361px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
}

.footer .footer__container .footer-descr__text .footer-descr__span {
  color: #666666;
}

.footer .footer__container .footer-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__container .footer-network .footer-network__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
}

.footer .footer__container .footer-network .footer-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__container .footer-network .footer-network__list .footer-network__item:not(:last-child) {
  margin-right: 21px;
}

.footer .footer__container .footer-network .footer-network__list .footer-network__item-icon:focus-visible {
  outline: none;
}

.footer .footer__container .footer-network .footer-network__list .footer-network__item-icon:focus-visible path {
  fill: #BC572B;
}

.footer .footer__container .footer-network .footer-network__list .footer-network__item-icon:hover path {
  fill: #FF6E30;
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.footer .footer__container .footer-network .footer-network__list .footer-network__item-icon:active path {
  fill: #CE4307;
}

@media (max-width: 1024px) {
  .header {
    position: relative;
  }
  .header .burger--add {
    z-index: 5 !important;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .header .burger {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 541px;
    right: 0;
    left: 0;
    top: 70px;
    padding: 14px 21px 36px 21px;
    border-top: 1px solid #808080;
    background: #202020;
    z-index: -5;
    -webkit-transform: translateY(-540px);
            transform: translateY(-540px);
    opacity: 0;
    -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
    transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
    transition: opacity 0.5s linear, transform 0.5s linear;
    transition: opacity 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  }
  .header .burger__exit {
    width: 18px;
    margin-bottom: 16px;
  }
  .header .burger__exit .burger__icon-exit:focus-visible {
    outline: none;
  }
  .header .burger__exit .burger__icon-exit:focus-visible circle {
    fill: #BC572B;
  }
  .header .burger__exit .burger__icon-exit:hover circle {
    fill: #FF6E30;
    -webkit-transition: fill 0.3s linear;
    transition: fill 0.3s linear;
  }
  .header .burger__exit .burger__icon-exit:active circle {
    fill: #CE4307;
  }
  .header .burger__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .header .burger__link {
    font-family: "TT Firs Neue";
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
  .header .burger__link:focus-visible {
    background-color: #BC572B;
    outline: 4px solid #BC572B;
    outline-offset: -1px;
  }
  .header .burger__link:hover {
    color: #FF6E30;
  }
  .header .burger__link:active {
    color: #CE4307;
  }
  .header .burger__tel {
    padding-left: 21px;
    margin-top: auto;
    font-family: "TT Firs Neue";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FF6E30;
    background-image: url("../images/svg/mdi_call R.svg");
    background-repeat: no-repeat;
    background-position: center left;
  }
  .header .burger__tel:focus-visible {
    background-color: #fff;
    outline: 4px solid #fff;
    outline-offset: -1px;
  }
  .header .burger__tel:hover {
    color: #fff;
  }
  .header .burger__tel:active {
    color: #fff;
  }
  .header__container {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .header__container .header__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .header__container .header__logo .header__img {
    width: 166px;
  }
  .header__container .nav {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .header__container .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__container .nav__list .nav__item:not(:last-child) {
    margin-right: 33px;
  }
  .header__container .header__search-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8/9;
  }
  .header__container .header__search-container .search--open {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .header__container .header__search-container .header__search-left {
    position: absolute;
    right: 0;
    top: 42px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 3px;
    width: 342px;
    height: 30px;
    background: #202020;
    -webkit-transform: translateY(-42px);
            transform: translateY(-42px);
  }
  .header__container .header__search-container .header__search-left .search__form-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 21px;
  }
  .header__container .header__search-container .header__search-left .search__form-left input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  .header__container .header__search-container .header__search-left .search__form-left input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  .header__container .header__search-container .header__search-left .search__form-left input[type="search"]::-webkit-search-decoration,
  .header__container .header__search-container .header__search-left .search__form-left input[type="search"]::-webkit-search-cancel-button,
  .header__container .header__search-container .header__search-left .search__form-left input[type="search"]::-webkit-search-results-button,
  .header__container .header__search-container .header__search-left .search__form-left input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input {
    padding: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E9E9E9;
    background: none;
    margin-right: 9px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E9E9E9;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input::-webkit-input-placeholder {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E9E9E9;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input:-ms-input-placeholder {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E9E9E9;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input::-ms-input-placeholder {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E9E9E9;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input::placeholder {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E9E9E9;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input:focus-visible {
    outline: 1px solid #FF6E30;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input:hover::-webkit-input-placeholder {
    color: #FF6E30;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input:hover:-ms-input-placeholder {
    color: #FF6E30;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input:hover::-ms-input-placeholder {
    color: #FF6E30;
  }
  .header__container .header__search-container .header__search-left .search__form-left .search__input:hover::placeholder {
    color: #FF6E30;
  }
  .header__container .header__search-container .header__search-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__container .header__search-container .header__search-open:focus-visible {
    outline: none;
  }
  .header__container .header__search-container .header__search-open:focus-visible path {
    fill: #BC572B;
  }
  .header__container .header__search-container .header__search-open:hover path {
    fill: #FF6E30;
    -webkit-transition: fill 0.3s linear;
    transition: fill 0.3s linear;
  }
  .header__container .header__search-container .header__search-open:active path {
    fill: #CE4307;
  }
  .header__container .header__icon {
    display: none;
  }
  .hero__container {
    -ms-grid-rows: 1fr 186px;
        grid-template-rows: 1fr 186px;
    grid-auto-rows: 257px;
  }
  .about__grid .about__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__grid .about__item2 .about__picture {
    margin-bottom: 24px;
  }
  .about__grid .about__item2 .about__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__grid .about__item2 .about__form .about__input {
    margin-bottom: 20px;
  }
  .projects__grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    row-gap: 23px;
  }
  .projects__grid .block__text {
    margin-bottom: 18px;
  }
  .projects__grid .projects__item1 {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .projects__grid .projects__item1 .block__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projects__grid .projects__item2 {
    position: relative;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .projects__grid .projects__item2 .block__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projects__grid .projects__item3 {
    position: relative;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .projects__grid .projects__item3 .block__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projects__grid .projects__item4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    grid-row: 2;
    background-image: url("../images/projects-background-1-1024.jpg");
  }
  .projects__grid .projects__item5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
    -ms-grid-row: 3;
    grid-row: 3;
    background-image: url("../images/projects-background-2-1024.jpg");
  }
  .projects__grid .projects__item5 .back {
    padding: 0;
  }
  .projects__grid .projects__item6 {
    position: relative;
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .projects__grid .projects__item7 {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__grid .block__img {
    margin-bottom: 18px;
  }
  .projects__grid .back {
    padding: 30px 0 38px 30px;
  }
  .contacts__grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .contacts__grid .contacts__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .contacts__grid .contacts__item2 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
  .contacts__grid .contacts__map .map__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 25px 0 0 30px;
    z-index: 2;
    background-color: rgba(32, 32, 32, 0.85);
  }
  .contacts__grid .contacts__map .map__info .map__location {
    max-width: 293px;
  }
  .footer .footer__container {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .footer .footer__container .footer-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .footer .footer__container .footer-logo .footer-logo__img {
    width: 166px;
  }
  .footer .footer__container .footer__right {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 1046px;
    padding: 0 27px;
  }
  .header {
    position: relative;
  }
  .header__container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: ()[2];
        grid-template-rows: repeat(2);
  }
  .header__container .header__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .header__container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .header__container .nav::before {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #4A4A4A;
  }
  .header__container .nav__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__container .nav__list .nav__item:not(:last-child) {
    margin-right: 0px;
  }
  .header__container .header__icon {
    display: none;
  }
  .hero__container {
    padding-top: 34px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 291px 133px;
        grid-template-rows: 291px 133px;
  }
  .hero__container .hero__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url("../images/hero-background-768.jpg");
    background-position: center bottom;
    background-size: cover;
  }
  .hero__container .hero__item1 .hero__descr .descr-hero__text {
    margin-bottom: 14px;
  }
  .hero__container .hero__item1 .hero__descr .descr-hero__title {
    margin-bottom: 23px;
    font-size: 34px;
    line-height: 90%;
  }
  .hero__container .hero__item2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .hero__container .hero__item2 .hero__title {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 104%;
  }
  .hero__container .hero__item3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .hero__container .hero__item4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .about {
    background-color: #202020;
    padding: 30px 0 50px;
  }
  .about .about__item2 {
    padding-bottom: 20px;
  }
  .about .about__form {
    width: 100%;
  }
  .about .about__form .about__input {
    width: 100%;
  }
  .about .about__form .about__input .about__email {
    margin-right: 0;
  }
  .projects__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .projects__grid .projects__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .projects__grid .projects__item1 .block__text {
    -webkit-line-clamp: 3;
  }
  .projects__grid .projects__item2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .projects__grid .projects__item2 .block__text {
    -webkit-line-clamp: 3;
  }
  .projects__grid .projects__item3 {
    position: relative;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
  .projects__grid .projects__item4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    grid-row: 2;
    background-image: url("../images/projects-background-1-768.jpg");
  }
  .projects__grid .projects__item5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 4;
    grid-row: 4;
    background-image: url("../images/projects-background-2-768.jpg");
  }
  .projects__grid .projects__item6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__grid .projects__item7 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__grid .back {
    padding: 30px 0 30px 30px;
  }
  .projects__grid .block__text {
    margin-bottom: 12px;
  }
  .contacts__grid {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 460px, 1fr;
        grid-template-rows: 460px, 1fr;
    row-gap: 24px;
  }
  .contacts__grid .contacts__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  .contacts__grid .contacts__item2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .contacts__grid .contacts__map {
    min-height: 466px;
  }
  .contacts__grid .contacts__map .map__info {
    height: 157px;
    padding: 25px 0 24px 30px;
  }
  .contacts__grid .contacts__map .map__info .map__location {
    max-width: 436px;
  }
  .footer .footer__container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .footer .footer__container .footer-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .footer .footer__container .footer__descr {
    display: none;
  }
  .footer .footer__container .footer__right {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  section {
    margin-bottom: 50px;
  }
  .container {
    max-width: 618;
    padding: 0 21px;
  }
  .header {
    position: relative;
  }
  .header__container {
    -ms-grid-rows: 70px;
        grid-template-rows: 70px;
  }
  .header__container .nav .nav__burger-open {
    position: relative;
    display: block;
  }
  .header__container .header__search-container .header__search-left {
    right: 0;
    top: 0px;
    width: 279px;
    -webkit-transform: none;
            transform: none;
  }
  .header__container .header__logo .header__img {
    width: 111.55px;
  }
  .header__container .search__icon {
    width: 20px;
    height: 20px;
  }
  .header__container .nav__list {
    display: none;
  }
  .hero__container {
    padding-top: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .hero__container .hero__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
    background-image: url("../images/hero-background-320.jpg");
    background-position: center center;
    padding: 234px 46px 30px 30px;
  }
  .hero__container .hero__item1::before {
    top: 6px;
    right: 5px;
    padding: 4px 7px;
    font-size: 12px;
    line-height: 14px;
  }
  .hero__container .hero__item1 .hero__descr .descr-hero__text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
  }
  .hero__container .hero__item1 .hero__descr .descr-hero__title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 110%;
  }
  .hero__container .hero__item1 .hero__descr .descr-hero__btn {
    width: 145px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .hero__container .hero__item2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .hero__container .hero__item2 .hero__title {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 104%;
  }
  .hero__container .hero__item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .hero__container .hero__item4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .about {
    padding: 31px 0 60px;
  }
  .about .about__title {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 23px;
  }
  .about .about__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
  }
  .about .about__grid .about__item2 {
    padding-bottom: 0px;
  }
  .about .about__grid .about__item2 .about__picture {
    margin-bottom: 26px;
  }
  .about .about__grid .about__item2 .about__form-title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
  }
  .about .about__grid .about__item2 .about__form .about__input .about__email {
    height: 40px;
  }
  .about .about__grid .about__item2 .about__form .about__input .about__email::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .about .about__grid .about__item2 .about__form .about__input .about__email:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .about .about__grid .about__item2 .about__form .about__input .about__email::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .about .about__grid .about__item2 .about__form .about__input .about__email::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .about .about__grid .about__item2 .about__form .about__btn {
    width: 115px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .about__text {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 25px;
  }
  .projects__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
  }
  .projects__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[7];
        grid-template-rows: repeat(7, auto);
  }
  .projects__grid .projects__item1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .projects__grid .projects__item1::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .projects__item1 .block__text {
    -webkit-line-clamp: 2;
  }
  .projects__grid .projects__item2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .projects__grid .projects__item2::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .projects__item2 .block__text {
    -webkit-line-clamp: 2;
  }
  .projects__grid .projects__item3 {
    position: relative;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__grid .projects__item3::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .projects__item4 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    background-image: url("../images/projects-background-1-320.jpg");
  }
  .projects__grid .projects__item4::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .projects__item5 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    grid-row: 7;
    background-image: url("../images/projects-background-2-320.jpg");
  }
  .projects__grid .projects__item5::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .projects__item6 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .projects__grid .projects__item6::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .projects__item7 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .projects__grid .projects__item7::before {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 14px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
  }
  .projects__grid .back {
    padding: 196px 0 30px 30px;
  }
  .projects__grid .back__date {
    margin-bottom: 7px;
  }
  .projects__grid .back__title {
    margin: 0;
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 24px;
  }
  .projects__grid .back__text {
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
  }
  .projects__grid .back__btn {
    width: 109px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .projects__grid .block__img {
    margin-bottom: 13px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 300px;
  }
  .projects__grid .block__text {
    margin-bottom: 11px;
  }
  .contacts {
    position: relative;
  }
  .container .contacts__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 23px;
  }
  .contacts__grid {
    display: block;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .contacts__grid .contacts__item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    max-height: 472px;
    margin-bottom: 495px;
  }
  .contacts__grid .contacts__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 472px;
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
  }
  .contacts__grid .contacts__map .ymaps-2-1-79-map {
    min-height: 472px;
    width: 100% !important;
  }
  .contacts__grid .contacts__map .map__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 26px 35px 14px 20px;
  }
  .contacts__grid .contacts__map .map__info .map__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .contacts__grid .contacts__map .map__info .map__descr {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 18px;
  }
  .contacts__grid .contacts__map .map__info .map__tel {
    font-size: 14px;
    line-height: 18px;
  }
  .contacts__grid .contacts__map .map__info .map__exit {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .contacts__grid .application__title {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 22px;
  }
  .contacts__grid .application__descr {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
  }
  .contacts__grid .application__form .input__contacts {
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .contacts__grid .application__form .input__contacts::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .contacts__grid .application__form .input__contacts:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .contacts__grid .application__form .input__contacts::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .contacts__grid .application__form .input__contacts::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .contacts__grid .application__form .textarea {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 150px;
    width: 100%;
    resize: none;
  }
  .contacts__grid .application__form .application__btn {
    width: 115px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer {
    padding: 0;
    position: relative;
  }
  .footer .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 123px, 62px;
        grid-template-rows: 123px, 62px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .footer .footer__container .footer-logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 62px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #4A4A4A;
  }
  .footer .footer__container .footer-logo {
    padding: 14px 0 13px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer .footer__container .footer-logo .footer-logo__img {
    position: relative;
    width: 111.55px;
  }
  .footer .footer__container .footer-logo .footer-logo__text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer .footer__container .footer__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
    padding-top: 31px;
    padding-bottom: 32px;
  }
}

@media (max-width: 320px) {
  .projects__grid .block__img {
    margin-bottom: 13px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */